.dark-red {
  color: #c8101d !important;
}
#form_warenkorb h4.mt {
  margin-top: -15px;
  margin-bottom: 15px;
}
.app {
  background-image: url("background.jpg");
  min-height: 800px;
  padding-bottom: 80px;
}
.placeholder {
  height: 30px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.bestellzeilen_in_bestellmodal.ajaxBasketInner {
  font-size: 12px;
  padding-left: 65px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: #fff3e3;
  padding-top: 50px;
}
.bestellzeilen_in_bestellmodal.ajaxBasketInner h4 {
  position: absolute;
  left: 10px;
  top: 0;
}
.bestellzeilen_in_bestellmodal.ajaxBasketInner span.block-price {
  display: inline-block;
  width: 75px;
  padding-right: 25px !important;
  text-align: right !important;
  position: absolute;
  left: 0;
}
.bestellzeilen_in_bestellmodal.ajaxBasketInner span.gesamtsumme {
  font-weight: bold;
  color: #c8101d;
}
.menu {
  position: absolute;
  top: 0px;
  right: 0;
  width: 70%;
  background-color: #fff3e3;
  height: 500px;
  z-index: 1000;
  margin-top: 70px;
  float: right;
}
.menu close {
  display: none;
}
.header {
  height: 40px;
  background-color: #fff3e3;
  font-size: 20px;
  text-align: center;
  color: #c8101d;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 20;
  /* .credit,
	.favorit,
	.account, */

}
.header a {
  color: #c8101d;
}
.header .menu_button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .favorit,
.header .account {
  margin-top: 4px;
}
.header .menu_button {
  cursor: pointer;
}
.header .credit {
  display: inline-block;
  white-space: nowrap;
}
.header .favorit {
  display: inline-block;
  white-space: nowrap;
  font-size: 20px;
}
.header .favorit .glyphicon {
  margin-right: 10px;
  vertical-align: middle;
}
.header .account {
  display: inline-block;
  white-space: nowrap;
}
.header .account .glyphicon {
  margin-right: 4px;
  vertical-align: middle;
}
.header .account .euro {
  font-size: 14px;
  vertical-align: middle;
}
.header .menu_button {
  display: inline-block;
  float: right;
}
.glyphicon.grey {
  color: grey;
}
.bg-picture {
  height: 0;
  width: 100%;
  padding-top: 33%;
  position: relative;
  overflow: hidden;
}
.bg-picture .inner_wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.bg-picture .inner_wrapper img {
  width: 100%;
  height: auto;
}
.slider {
  height: 0;
  width: 100%;
  padding-top: 33%;
  position: relative;
  overflow: hidden;
}
.slider #pic_slider {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.slider #pic_slider img {
  width: 100%;
  height: auto;
}
.info {
  text-align: center;
  line-height: 45px;
  background-color: #fff3e3;
  height: 50px;
  font-size: 16px;
  margin-top: 5px;
}
.info .times,
.info .telnr {
  padding: 5px;
  width: 50%;
  display: inline-block;
  float: left;
}
.categories {
  margin-top: 5px;
  padding: 6px 10px;
}
.categories .btn-default,
.categories .btn-default:focus,
.categories .btn-default:hover {
  background-image: none;
  background-color: rgba(255, 243, 227, 0.8);
  color: grey;
  text-shadow: none;
}
.categories .row {
  text-align: center;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
.categories .row .col-xs-6 {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 2px;
}
.categories .ca_field {
  height: 80px !important;
  line-height: 80px;
  white-space: nowrap;
}
.categories .ca_field span {
  margin-top: auto;
  margin-bottom: auto;
}
.shopping_bag_modal {
  margin-top: 15px;
}
.shopping_bag {
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  bottom: -140px;
  height: 200px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
}
.shopping_bag .ajaxBasketInner {
  height: 100px;
  max-height: 100px;
  margin-bottom: 3px;
  overflow-y: auto;
}
.shopping_bag.opened {
  bottom: 0px;
}
.shopping_bag .btn-default {
  line-height: 50px;
  height: 50px;
  text-align: center;
  padding: 5px 10px !important;
}
.shopping_bag .btn-default,
.shopping_bag .btn-default:focus,
.shopping_bag .btn-default:hover {
  background-image: none;
  background-color: #c8101d;
  color: white;
  text-shadow: none;
}
.shopping_bag .btn-default span {
  margin-left: 10px;
}
.logo {
  background-color: #c8101d;
  text-align: center;
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 15px;
  height: auto;
}
.logo img {
  height: 60px;
}
.foodlistSelect {
  padding: 15px 15px 70px;
  margin: 10px;
  background-color: rgba(255, 243, 227, 0.8);
}
.foodlistSelect h2 {
  color: #c8101d;
  font-weight: 800;
  font-size: 18px;
  margin-top: 0;
}
.foodlistSelect div {
  padding: 8px 0;
  border-bottom: 1px solid #fff;
}
.foodlist {
  padding: 8px 10px 0;
}
.foodlist a .row {
  color: #c8101d;
  font-weight: 800;
  background-color: rgba(255, 243, 227, 0.8);
  line-height: 40px;
  margin-top: 2px;
}
.foodlist a.food_item .row {
  margin-left: 0;
  margin-right: 0;
}
.foodlist a.food_item .row .col-xs-10 {
  padding-left: 15px !important;
}
.foodlist a.food_item .row .col-xs-10 + div {
  padding-right: 15px !important;
}
.foodlist a.sub_food_item div.row {
  color: black;
  font-weight: 400;
}
.foodlist a.sub_food_item div.row.foodInfo {
  color: grey;
  line-height: 15px;
  margin-top: 0px;
  font-size: 12px;
  padding-bottom: 10px;
}
.foodlist a.sub_food_item div.row.foodInfo.small {
  color: black;
}
.sub_food_wrapper {
  height: auto;
  max-height: 2000px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.sub_food_wrapper.closed {
  max-height: 1px;
}
#orderModal {
  margin-top: 50px;
}
#meinModal {
  margin-top: 50px;
  height: 500px;
}
#meinModal .modal-content {
  border-radius: 0px;
}
#meinModal .modal-header {
  background: #fff;
  border-bottom: none;
}
#meinModal .modal-body {
  padding-top: 0px;
}
#meinModal .modal-body .food_headline {
  padding: 5px 20px;
  background-color: #fff3e3;
  color: #c8101d;
  border-bottom: 1px solid #c4c4c4;
}
#meinModal .modal-body .food_headline:first-child {
  border-top: 1px solid #c4c4c4;
}
#meinModal .modal-body .food_option:last-child {
  border-bottom: none;
}
#meinModal .modal-body .food_option {
  padding: 5px 20px !important;
  border-bottom: 1px solid #c4c4c4;
}
#meinModal .modal-body .food_option .padding-left {
  padding-left: 10px;
}
#meinModal .modal-body .food_option label {
  width: 100%;
}
#meinModal .modal-body .food_option .price {
  float: right;
}
#meinModal .modal-footer {
  text-align: center;
  border-top: none;
}
#meinModal .btn-default,
#meinModal .btn-default:focus,
#meinModal .btn-default:hover {
  background-image: none;
  background-color: #c8101d;
  color: white;
  text-shadow: none;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#meinModal .btn-default span {
  margin-left: 10px;
}
.modal.in .modal-dialog,
.modal.fade .modal-dialog {
  transform: none !important;
}
.modal-dialog {
  margin-top: 0 !important;
}
.menu-modal {
  padding: 10px 0 !important;
}
.menu-modal,
.menu-modal li {
  padding: 0;
  margin: 0;
  display: block;
  list-style-type: none !important;
}
.menu-modal a {
  padding: 6px 0 5px 20px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  background: #fff3e3;
  color: #c8101d;
}
.menu-modal a:hover,
.menu-modal a:focus {
  color: #333;
}
#menuModal .modal-dialog {
  margin-top: 50px !important;
}
#menuModal .modal-content {
  border-radius: 0 !important;
}
#menuModal .modal-body {
  padding: 0;
  background: #fff3e3;
}
#menuModal .close {
  padding: 12px 20px !important;
}
.bg-red {
  background: #c8101d !important;
}
.btn-default {
  cursor: pointer;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
}
.btn-default span.toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 21px 15px 25px 20px;
}
.btn-default span.glyphicon-trash {
  position: absolute;
  top: 0px;
  left: -10px;
  display: inline-block;
  padding: 22px 25px 25px 15px;
}
.pad-left {
  padding-left: 30px !important;
}
.pad-right {
  padding-right: 30px !important;
}
.padding-15 {
  padding: 15px !important;
}
.shopping-content {
  padding-top: 8px;
  margin-top: 15px;
  border-top: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  text-align: left;
  position: relative;
}
.shopping-content .block-price {
  display: inline-block;
  width: 50px;
  text-align: right;
  padding-right: 15px;
}
.shopping-content .next-order {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  right: 0px;
}
.left-padding-radios {
  margin-bottom: 0 !important;
}
.left-padding-radios div label {
  margin-left: 15px !important;
}
.left-padding-radios table {
  float: left;
  margin-bottom: 20px;
}
#bestellung_fehler,
#bestellung_paypal,
#bestellung_erledigt {
  display: none;
}
a.a-back {
  float: right;
  display: inline-block;
  padding: 5px 0px 5px 15px;
  color: #c8101d !important;
  margin-top: -5px;
}
.white-content {
  background: rgba(255, 243, 227, 0.8);
  padding: 15px 15px 70px;
  margin: 10px;
}
.white-content h1,
.white-content h2,
.white-content h3 {
  color: #c8101d !important;
  font-size: 18px;
}
.white-content h1 {
  font-size: 18px;
  margin-top: 0 !important;
}
.white-content h4,
.white-content h5,
.white-content h6 {
  font-size: 16px;
}
.order_list strong {
  display: inline-block;
  min-width: 75px;
}
#hello {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 2px;
  line-height: 20px;
  padding-top: 9px;
}
#hello strong {
  color: #c8101d;
}
.col-xs-6 .ca_field {
  color: #333;
  font-weight: bold;
}
a.tel-link {
	text-decoration: none !important;
	color: #333;
}
