<div class="white-content">
	<a href="index.html" class="a-back">Zurück zur Startseite</a>
<h1>Impressum</h1>

<p>Wir freuen uns auf jede Anfrage von Ihnen, ganz gleich ob telefonisch oder per E-Mail. Unser freundliches Personal steht für Sie während unseren Öffnungszeiten gerne zur Verfügung.</p>
<h3>Restaurant Delfino</h3>

<p>Klosterstr. 12<br>
97084 Würzburg</p>

<p>Tel. 0931 - 46058588<br>
Fax: 0931 - 46058589 neu!<br>
info@restaurant-delfino.de</p>

<p>Inhaber: Francesco Maggio<br>
Finanzamt Würzburg<br>
Steuer-Nr. 247/297/28368</p>

<h2>Betreuende Werbeagentur</h2>


<p>Andreas Helm<br>
www.mediasign.de</p>

<br><h4>Haftungsausschluss</h4>

<p>Wir haben diese Website mit größter Sorgfalt erstellt. Eine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Daten ist jedoch ausgeschlossen. Dies gilt auch für alle anderen Websites, auf die mittels eines Hyperlinks verwiesen wird. Wird sind für den Inhalt solcher Websites, die mittels einer solchen Verbindung erreicht werden, nicht verantwortlich. Wir behalten uns vor, Änderungen oder Ergänzungen der bereitgestellten Informationen oder Daten ohne Ankündigung vorzunehmen. Hinweise zum Einsatz von Google-Analytics finden Sie hier.</p>

<br><h4>Copyright 2018</h4>

<p>Alle Inhalte dürfen ohne schriftliche Genehmigung von uns nicht, auch nicht teilweise, verwendet werden.</p>

<br><h4>Bilder / Verweise</h4>

<p>http://www.splitshire.com/beauty-wine/<br>
http://www.splitshire.com/italian-wine-rack/<br>
http://pixabay.com/de/pizza-lebensmittel-peperoni-698635/</p>
</div>
