@beige: #fff3e3;
@rot  : rgba(200, 16, 29, 1.0);

.body{
	//background-color:rgba(255, 243, 227, 1.0);

	
}
.dark-red {
	color: @rot !important;
}
#form_warenkorb h4.mt {
	margin-top: -15px;
	margin-bottom: 15px;
	
}
.app{
		background-image: url("background.jpg");
		min-height: 800px;
		padding-bottom: 80px;
		//background-size: contain;
}
.placeholder{
	height:30px;
	background-color: white;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 20;

}

.bestellzeilen_in_bestellmodal.ajaxBasketInner {
	font-size: 12px;
	padding-left: 65px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	//border: 1px solid @rot;
	background: @beige;
	padding-top: 50px;
	
	h4 {
		position: absolute;
		left: 10px;
		top: 0;
	}
	span.block-price {
		display: inline-block;
		width: 75px;
		padding-right: 25px !important;
		text-align: right !important;
		position: absolute;
		left: 0;
	}
	span.gesamtsumme {
		font-weight: bold;
		color: @rot;
	}
}

.menu{
	position: absolute;
	top: 0px;
	right: 0;
	width: 70%;
	background-color:rgba(255, 243, 227, 1.0);
	height: 500px;
	z-index: 1000;
	margin-top: 70px;
	float: right;
}

.menu close{
	display: none;
}
.header{
	height: 40px;
	background-color:rgba(255, 243, 227, 1.0);
	font-size: 20px;
	text-align: center;
	color:rgba(200, 16, 29, 1.0);
	position: fixed;
	top: 0px;
	width:100%;
	z-index: 20; 
	
	a{
		color: rgba(200, 16, 29, 1.0);
	}

	/* .credit,
	.favorit,
	.account, */
	.menu_button{
		margin-top: 10px;
		margin-bottom:10px;

	} 
	.favorit,
	.account {
		margin-top: 4px;  
	}
	.menu_button {
		cursor: pointer;
	}
	
	.credit{
		//float:left;
		//width: 30%;
		display: inline-block;
		white-space: nowrap;
	
	}
	.favorit{
		display: inline-block;
		white-space: nowrap;
		font-size: 20px;
		.glyphicon {
			margin-right: 10px;
			vertical-align: middle;
		}
	}
	
	.account{
		display: inline-block;
		white-space: nowrap;
		.glyphicon {
			margin-right: 4px;
			vertical-align: middle;
		}
		.euro {
			font-size: 14px;
			vertical-align: middle;
		}
	}
	
	.menu_button{
		display: inline-block;
		float:right;  

	}
	

}

.glyphicon {
  &.grey {
    color: grey;
  }
}
.bg-picture {
	height: 0;
	width: 100%;
	padding-top: 33%;
	position: relative;
	overflow: hidden;
	.inner_wrapper {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		
		img{
			//height: 150px;
			width: 100%;
			height: auto;
		}
	}
}
.slider{
	height: 0;
	width: 100%;
	padding-top: 33%;
	position: relative;
	overflow: hidden;
	#pic_slider{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	
	img{
		//height: 150px;
		width: 100%;
		height: auto;
	}
	}
}

	.info{
		text-align: center;
		line-height: 45px;
		background-color: rgba(255, 243, 227, 1.0);
		height: 50px;
		font-size: 16px;
		margin-top: 5px;
		//font-weight: 300;
		//text-transform: uppercase;
		
		.times,
		.telnr{
			padding: 5px;
			//padding-bottom:15px;
			width: 50%;
			display:inline-block;
			float:left;
		}
	}
	.categories{
		//background-color:rgba(255, 243, 227, 1.0);
		margin-top: 5px;
		padding: 6px 10px;
	
	
		.btn-default{
		
			&,
			&:focus,
			&:hover{
			background-image: none;
			background-color:rgba(255, 243, 227, 0.8);
			color:grey;
			text-shadow: none;}
			}
		.row{
			text-align: center;
			height: 80px;
			margin-top: auto;
			margin-bottom: auto;
		
		.col-xs-6{
			padding-left: 1px;
			padding-right: 1px;
			margin-bottom: 2px;
		}
		}
		
		.ca_field{
			height: 80px !important;
			line-height: 80px;
			white-space: nowrap;
		
			span{
				margin-top:auto;
				margin-bottom:auto;
			}


		
		}

	}
	
.shopping_bag_modal{
	margin-top: 15px;
}	
.shopping_bag{
	max-width: 100%;
	text-align: center;
	white-space: nowrap;
	position: fixed;
	
	bottom: -140px; //DIFF: 60px
	height: 200px;
	
	.transition(0.5s);
	
	.ajaxBasketInner {
  	height: 100px;
  	max-height: 100px;
  	margin-bottom: 3px;
  	//background: yellow;
  	overflow-y: auto;
	}
	
	&.opened{
		bottom: 0px;
	}
	
	font-size: 16px;
	margin-top: 15px;
	width: 100%;
	
	.btn-default{
		line-height: 50px;
		height: 50px;
		text-align: center;
		padding: 5px 10px !important;
		&,
		&:focus,
		&:hover{
		background-image: none;
		background-color:rgba(200, 16, 29, 1.0);
		color:white;
		text-shadow: none;}
		
		span{
			margin-left: 10px;
		}
		 
	}
}

.logo{
	background-color:rgba(200, 16, 29, 1.0);
	text-align: center;
	margin-top:45px;
	padding-top: 5px;
	padding-bottom: 15px;
	height: auto;
	
	img{
		height: 60px;
		//margin: 15px 15px;
		
			}
}
.foodlistSelect { 
  padding: 15px 15px 70px;
  margin: 10px;
	h2 {
  	color: rgba(200, 16, 29, 1.0);
    font-weight: 800;
    font-size: 18px;
    margin-top: 0;
  }
	background-color: rgba(255, 243, 227, 0.8);
	div {
  	padding: 8px 0;
  	border-bottom: 1px solid #fff;
	}
}
.foodlist{
  padding: 8px 10px 0;
	a .row{
	color: rgba(200, 16, 29, 1.0);
	font-weight: 800;
	background-color: rgba(255, 243, 227, 0.8);
	//height: 40px;
	line-height: 40px;
	margin-top: 2px;
	}
	a.food_item .row {
  	margin-left: 0;
  	margin-right: 0;
  	.col-xs-10 {
    	padding-left: 15px !important;
    	& + div {
    	padding-right: 15px !important;
    	}
  	}
	}
	
	a.sub_food_item div.row {

		color:black;
		font-weight: 400;
		
		&.foodInfo{
			color: grey;
			//height: 20px;
			line-height: 15px;
			margin-top:0px;
			font-size:12px;
  			padding-bottom: 10px;
			&.small {
  			color: black;
			}
			&.zusatz {
			}
		}

	}

}

.transition(@sek: 0.5s) { 
	-webkit-transition: all @sek ease-in-out;
	-moz-transition: all @sek ease-in-out;
	-o-transition: all @sek ease-in-out;
	transition: all @sek ease-in-out;
}

.sub_food_wrapper {
	height: auto;
	max-height: 2000px;
	overflow: hidden;
	
	.transition(0.5s);
	
	&.closed{
		max-height: 1px;
	}
	
	}


#orderModal{
	margin-top: 50px;
}

#meinModal{
	margin-top: 50px;
	height: 500px;
	
	
	.modal-content{
		border-radius: 0px;
	}
	
	.modal-header{
		//width: 598px;
		//max-width: 93%;
		background: #fff;
		//position:fixed !important;
		//top:50px;
		//height: 100px;
		//z-index: 1;
		//border-radius: 8px 8px 0 0;
		
		border-bottom: none;
		 
		}
	
	
	
	.modal-body{
		padding-top: 0px;
		
		
		//padding: 100px 0 0 0 !important;
		
		

		.food_headline{
			padding: 5px 20px;
			background-color: @beige;
			color: #c8101d;
			border-bottom: 1px solid #c4c4c4;
			
		}
		
		.food_headline:first-child{
			border-top: 1px solid #c4c4c4;
		}
		
		.food_option:last-child{
			border-bottom: none;
			
		}
		.food_option{
			padding: 5px 20px !important;
			border-bottom: 1px solid #c4c4c4;
			
			.padding-left{
				padding-left: 10px;
			}
			
			label{
				width: 100%;
			}
			
			.price{
				float: right;
			}
		}
	}
	
	.modal-footer{ 
		text-align: center;
		border-top: none;

	
	}
	.btn-default {
		
		&,
		&:focus,
		&:hover{
		background-image: none;
		background-color:rgba(200, 16, 29, 1.0);
		color:white;
		text-shadow: none;
		//padding: 10px 10px;
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		}
		span{
			margin-left: 10px;
		}
		 
	}
}

.modal.in .modal-dialog,
.modal.fade .modal-dialog {
	transform: none !important;
}
.modal-dialog {
	margin-top: 0 !important; 
} 

.menu-modal {
	padding: 10px 0 !important;
	&, & li {
		padding: 0;
		margin: 0;
		display: block;
		list-style-type: none !important;
	}
	a {
		padding: 6px 0 5px 20px;
		text-decoration: none;
		font-size: 16px;
		display: block;
		background: @beige;
		color: @rot;
		&:hover,
		&:focus {
			color: #333;
		}
	}
}
#menuModal {
	.modal-dialog {
		margin-top: 50px !important;
	}
	.modal-content {
		border-radius: 0 !important;
	}
	.modal-body {
		padding: 0;
		background: @beige;
	}
	.close {
		padding: 12px 20px !important;
	}
}

.bg-red {
	background: @rot !important;
}
.btn-default {
	cursor: pointer;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
	
	span.toggle {
		position: absolute;
		top: 0;
		right: 0;
		
		display: inline-block;
		padding: 21px 15px 25px 20px; 
	}
	span.glyphicon-trash {
		position: absolute;
		top: 0px;
		left: -10px;
		display: inline-block;
		padding: 22px 25px 25px 15px;
		
		//background: yellow;
		//color: black;
  	
	}
}
.pad-left {
  padding-left: 30px !important;
}
.pad-right {
  padding-right: 30px !important;
}
.padding-15 {
	padding: 15px !important;
}
.shopping-content {
	padding-top: 8px;
	margin-top: 15px;
	border-top: 1px solid #fff;
	color: #fff;
	font-size: 12px;
	text-align: left;
	position: relative;
	
	.block-price {
		display: inline-block;
		width: 50px;
		text-align: right;
		padding-right: 15px;
	}
	.next-order {
		color: #fff;
		text-decoration: none;
		font-weight: bold; 
		font-size: 14px;
		position: absolute;
		bottom: 15px;
		right: 0px;
	}
} 
.left-padding-radios {
	margin-bottom: 0 !important;
	div label {
		margin-left: 15px !important;
	}
	table {
		float: left;
		margin-bottom: 20px;
	}
}

#bestellung_fehler,
#bestellung_paypal,
#bestellung_erledigt {
	display: none;
}

a.a-back {
	float: right;
	display: inline-block;
	padding: 5px 0px 5px 15px; 
	color: @rot !important;
	margin-top: -5px;
}
.white-content {
	background: rgba(255, 243, 227, 0.8);
	padding: 15px 15px 70px;
	margin: 10px;
	h1,h2,h3 {
		color: @rot !important;
		font-size: 18px;
	}
	h1 {
		font-size: 18px;
		margin-top: 0 !important;
	}
	h4,h5,h6 {
		font-size: 16px;
	}
}

.order_list {
	strong {
		display: inline-block;
		min-width: 75px;
	}
}
#hello {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 2px;
	// font-weight: bold; 
	line-height: 20px;
	padding-top: 9px;
	// background-color: #fff;
	//color: #333;
	strong {
		color: @rot;
	}
}
.col-xs-6 .ca_field {
	color: #333; //  @rot;
	font-weight: bold;
}

a.tel-link {
	text-decoration: none !important;
	color: #333;
}